<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
    <title>Grafico</title>
</head>
<body>

    <div class="chart-container">
        <h2 class="graph">Esto es un Grafico</h2>
        <canvas id="myChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    
</body>
</html>